<app-nav-bar-ini2></app-nav-bar-ini2>
<div style="text-align: center;">
  <h1 style="background-color:#ccc ;">Grafico de humedad aire</h1>
  <app-grafica-hum></app-grafica-hum>
</div>
<div style="text-align: center;margin-top: 30px;">
  <h1 style="background-color:#ccc ;" >Grafico de temperatura</h1>
  <app-grafica-temp></app-grafica-temp>
</div>
<div style="text-align: center;margin-top: 30px;">
  <h1 style="background-color:#ccc ;">Grafico de calidad aire</h1>
  <app-grafica-aire></app-grafica-aire>
</div>
<div style="text-align: center;margin-top: 30px;margin-bottom: 200px;">
  <h1 style="background-color:#ccc ;">Grafico de humedad suelo</h1>
  <app-grafica-hum-suelo></app-grafica-hum-suelo>
</div>
<app-footer-ini ></app-footer-ini>
