<div class="container-fluid p-0">
  <div class="search-container">
    <mat-form-field appearance="fill">
      <input matInput placeholder="search" autocomplete="off" (keyup)="filterData($event)" #input>
    </mat-form-field>
  </div>
<table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">


  <ng-container matColumnDef="valor">
    <th mat-header-cell mat-sort-header=""*matHeaderCellDef> Value </th>
    <td mat-cell *matCellDef="let element"> {{element.valor}} </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell mat-sort-header="" *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
  </ng-container>

  <ng-container matColumnDef="options">
    <th mat-header-cell  *matHeaderCellDef> Options </th>
    <td mat-cell *matCellDef="let element"><button (click)="deleteGrafHumAire(element._id)" class="btn btn-danger" style="display:inline-block; margin-left: 5px;">
      <i class="icon fa-solid fa-trash-can"></i></button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
  </tr>
</table>
<mat-paginator  #paginator
[length]="100"
[pageSize]="10"
[pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
</div>
