<app-nav-bar-ini></app-nav-bar-ini>

<div class="bodyform">

  <div class="container" [class.right-panel-active]="loginActive">
    <div class="form-container sign-up-container">

      <form


      autocomplete="off"
        [formGroup]="registroForm"
        (ngSubmit)="registro()"
      >
      <h1>Create Account</h1>
      <div class="social-container">
        <a href="#" class="social"><i class="ico fa fa-facebook"></i></a>
        <a href="#" class="social"><i class="ico fa fa-google"></i></a>
        <a href="#" class="social"><i class="ico fa fa-linkedin"></i></a>
      </div>
      <span>or use your email for registration</span>
      <input type="text"placeholder="Name"
      class="form-control"
      id="inputName"
      formControlName="username"
      [class.is-invalid]="usernameValidate"
      required>
      <div class="labels">
        <label  *ngIf="registroForm.controls['username'].errors?.['required']" >Name is required</label>
        <label  *ngIf="registroForm.controls['username'].errors?.['minlength']" >Name requires 4 letters</label>
      </div>

      <input type="email" placeholder="Email"
      class="form-control"
      id="inputEmail1"
      formControlName="email"
      [class.is-invalid]="emailValidate1"
      required>
      <div class="labels">
        <label  *ngIf="registroForm.controls['email'].errors?.['required']" >Email is required</label>
        <label  *ngIf="registroForm.controls['email'].errors?.['pattern']" >Invalid email </label>

      </div>
      <input type="text"placeholder="Url_avatar"
      class="form-control"
      formControlName="url_foto"
      [class.is-invalid]="url_fotoValidate"
      required>
      <div class="labels">
        <label  *ngIf="registroForm.controls['url_foto'].errors?.['required']" >Url_avatar is required</label>
        <label  *ngIf="registroForm.controls['url_foto'].errors?.['patters']" >Invalid URL</label>
      </div>

      <input type="password" name="password" placeholder="Password"
      class="form-control"
      id="inputPass1"
      formControlName="password"
      [class.is-invalid]="passwordValidate1"
      required>
      <div class="labels">
        <label  *ngIf="registroForm.controls['password'].errors?.['required']" >Password is required</label>
        <label  *ngIf="registroForm.controls['password'].errors?.['minlength']" >Name requires 4 letters</label>

      </div>
      <input type="password" name="password2" placeholder="Confirm Password"
      class="form-control"
      id="InputPass2"
      formControlName="password2"
      [class.is-invalid]="passwordValidate2"
      required>
      <div class="labels">
        <label  *ngIf="registroForm.controls['password2'].errors?.['required']" >Passwords don`t match</label>
      </div>

      <button type="submit" [disabled]="registroForm.invalid">SignUp</button>
    </form>

    </div>
    <div class="form-container sign-in-container">
      <form
      class="form-signup animated fadeIn"

      autocomplete="off"
        [formGroup]="loginForm"
        (ngSubmit)="login()"
      >
        <h1>Sign In</h1>
        <div class="social-container">
        <a href="#" class="social"><i class="fa fa-facebook"></i></a>
        <a href="#" class="social"><i class="fa fa-google"></i></a>
        <a href="#" class="social"><i class="fa fa-linkedin"></i></a>
      </div>
      <span>or use your account</span>
      <input type="email" placeholder="Email"
      class="form-control"
      formControlName="email"
      [class.is-invalid]="emailValidate"
      required>
      <div class="labels">
        <label  *ngIf="loginForm.controls['email'].errors?.['required']" >Email is required</label>
        <label  *ngIf="loginForm.controls['email'].errors?.['pattern']" >Invalid email </label>

      </div>
      <input type="password" name="password" placeholder="Password"
      class="form-control"
      formControlName="password"
      [class.is-invalid]="passwordValidate"
      required>
      <div class="labels">
        <label  *ngIf="loginForm.controls['password'].errors?.['required']" >Password is required</label>
        <label  *ngIf="loginForm.controls['password'].errors?.['minlength']" >Password requires 5 letters</label>

      </div>
      <a href="#">Forgot Your Password</a>

      <button type="submit" [disabled]="loginForm.invalid">Sign In</button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Welcome Back!</h1>
          <p>To keep connected with us please login with your personal info</p>
          <button  class="ghost" (click)="loginActive=!loginActive" id="signIn">Sign In</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>Hello, Friend!</h1>
          <p>Enter your details and start journey with us</p>
          <button  class="ghost" (click)="loginActive=!loginActive" id="signUp">Sign Up</button>
        </div>
      </div>
    </div>
    </div>
</div>
<app-footer style="margin-top: 1000px;"></app-footer>
