
  <app-nav-bar-ini ></app-nav-bar-ini>

  <div class="body1">

    <main>
      <section data-aos="zoom-in-up" class="contenedor sobre-nosotros">
        <h2 class="titulo">Our products</h2>
        <div class="contenedor-sobre-nosotros">
          <img src="assets/ilustracion1.svg" alt="" class="imagen-about-us">
          <div class="contenido-textos">
              <h3><span>1</span>One product</h3>
              <p>Hemos elegido minusiosamente los sensores necesarios para tener un buen control en un invernadero de plantas porque nos interesa la seguridad de su produccion,Es por eso que elegimos un sensor de calidad de aire que hara que siempre este al tanto de de su produccion para que no ocurra algun accidente como un incendio</p>

            </div>
        </div>
      </section>
      <section data-aos="zoom-in-up"  class="portafolio">
        <div class="contenedor">
          <h2 class="titulo">Briefcase</h2>
          <div class="galeria-port">
            <div class="imagen-port">
              <img src="https://imgur.com/xxDeLOc.jpg" alt="">
              <div class="hover-galeria">
                <img src="assets/icono1.png" alt="">
                <p>Our projects</p>
              </div>
            </div>
            <div class="imagen-port">
              <img src="https://imgur.com/ut0Sy3G.jpg" alt="">
              <div class="hover-galeria">
                <img src="assets/icono1.png" alt="">
                <p>Our projects</p>
              </div>
            </div>
            <div class="imagen-port">
              <img src="https://imgur.com/OVZJayA.jpg" alt="">
              <div class="hover-galeria">
                <img src="assets/icono1.png" alt="">
                <p>Our projects</p>
              </div>
            </div>
            <div class="imagen-port">
              <img src="https://imgur.com/U9UFJuU.jpg" alt="">
              <div class="hover-galeria">
                <img src="assets/icono1.png" alt="">
                <p>Our projects</p>
              </div>
            </div>
            <div class="imagen-port">
              <img src="https://imgur.com/MAwgXHj.jpg" alt="">
              <div class="hover-galeria">
                <img src="assets/icono1.png" alt="">
                <p>Our projects</p>
              </div>
            </div>
            <div class="imagen-port">
              <img src="https://imgur.com/P34LNO9.jpg" alt="">
              <div class="hover-galeria">
                <img src="assets/icono1.png" alt="">
                <p>Our projects</p>
              </div>
            </div>
            <div class="imagen-port">
              <img src="https://imgur.com/kfR8ZBk.jpg" alt="">
              <div class="hover-galeria">
                <img src="assets/icono1.png" alt="">
                <p>Our projects</p>
              </div>
            </div>
            <div class="imagen-port">
              <img src="https://imgur.com/WPCvfCT.jpg" alt="">
              <div class="hover-galeria">
                <img src="assets/icono1.png" alt="">
                <p>Our projects</p>
              </div>
            </div>

          </div>
        </div>
      </section>
        <section data-aos="zoom-in-up" class="team-contenedor">
        <h2 class="titulo">Our team</h2>
        <div class="cards">
          <div class="card">
            <img src="assets/zair.jpg" alt="">
            <div class="contenido-texto-card">
              <h4>Zair</h4>
              <p>Back and front end developer</p>
            </div>
          </div>
          <div class="card">
            <img src="assets/valeria.jpg" alt="">
            <div class="contenido-texto-card">
              <h4>Valeria</h4>
              <p>Python developer</p>
            </div>
          </div>
          <div class="card">
            <img src="assets/alan.jpeg" alt="">
            <div class="contenido-texto-card">
              <h4>Alan</h4>
              <p>ios developer</p>
            </div>
          </div>
          <div class="card">
            <img src="https://imgur.com/vtWAV5E.jpg" alt="">
            <div class="contenido-texto-card">
              <h4>Palafox</h4>
              <p>ios helper</p>
            </div>
          </div>
        </div>
      </section>
      <section data-aos="zoom-in-up" class="about-services">
        <div class="contenedor">
          <h1 class="titulo">Our services</h1>
          <div class="servicio-cont">
            <div class="servicio-ind">
              <img src="assets/ilustracion3.svg" alt="">
              <h3>History</h3>
              <p>History of what happens in your greenhouse</p>
            </div>
            <div class="servicio-ind">
              <img src="assets/ilustracion1.svg" alt="">
              <h3>Graphics</h3>
              <p>Near real-time graphics update</p>
            </div>
            <div class="servicio-ind">
              <img src="assets/ilustracion6.svg" alt="">
              <h3>Control</h3>
              <p>User control panel and data update</p>
            </div>
          </div>
        </div>
      </section>
    </main>
      <app-footer></app-footer>

    </div>

